@font-face {
    font-family:'Oswald-Regular';
    src: url('../fonts/Oswald-Regular.ttf');
}
@font-face {
    font-family:'Oswald-Bold';
    src: url('../fonts/Oswald-Bold.ttf');
}
@font-face {
    font-family:'Sofia-Regular';
    src: url('../fonts/Sofia-Regular.otf');
}
body {
    line-height: 25px;
    background-color: #f3f3f3;
}
a {
    color:#181818;
    text-decoration: none;
    font-weight: bold;
}
a:hover {
    text-decoration: none;
    color: #4f4f4f;
}
.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 50px;
    background-color: #a3a3a3;
    border-bottom: 10px solid #c5c5c5;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}
.logo a{
    font-family: 'Sofia-Regular', sans-serif;
    margin-left: 30px;
    font-size: 36px;
    position: relative;
    top: 9px;
    color: #212121;
    text-shadow: #c6c6c6 2px 2px 0px;
}
.logo a:hover {
    text-decoration: none;
    color: #222222;
}
nav{
    float: right;
    right: 20px;
    position: absolute;
    margin: 10px;
}
nav a{
    position: relative;
    color: #212121;
    text-decoration: none;
    font-size: 28px;
    padding: 2px;
}
nav a:hover{
    color: #727171;
    text-decoration: none;
}
.wrapper {
    margin: 0 auto;
    top:50px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}
.column{
    background-color: #ffffff;
    padding: 12px;
    border: 1px solid #cccccc;
    border-radius: 5px;
    z-index: -1;
    margin-top: 20px;
    box-shadow: 3px 3px 3px -1px #bfbfbf;
}
.user_details {
    width:270px;
    float: left;
    margin-bottom: 20px;
}
.user_details_left_right{
    width: 125px;
    display: inline-block;
    position: absolute;
}
.user_details img {
    height: 125px;
    border-radius: 5px;
    margin-right: 5px;
    border-radius: 5%;
}
.main_column {
    float: right;
    width: 70%;
    z-index: -1;
    min-height: 170px;
}
.post_form {
width: 100%;
}
.post_form textarea {
    width: 82%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    border:1px solid #919090;
    font-size: 20px;
    padding: 10px;
    color: #353535;
}
textarea:focus {
    outline: 0;
}
.post_form input[type="submit"] {
    width: 11%;
    height: 60px;
    border:none;
    border-radius: 3px;
    background-color: #d0d0d0;
    font-family:  'Oswald-Regular' , sans-serif;
    color: #2b2b2b;
    text-shadow:#9e9e9e 1px 1.1px 0px;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 0;
}
.post_form input[type="submit"]:active {
    padding: 5px 4px 8px 5px;
    background-color:#eeeeee;
}
.status_post {
    color: #8f8f8f;
    font-size: 15px;
    width: 96%;
    padding: 5px 5px;
    min-height: 75px;
    cursor: pointer;
}
.post_profile_pic {
    margin: 7px;
    float: left;
}
.post_profile_pic img {
    border-radius: 5px;
}
#post_body {
    color:#353535;
}
#comment_iframe {
    width: 100%;
    max-height: 250px;
    margin-top: 5px;
    border-radius: 3px;
}
.comment_session {
    color: #111111;
    padding: 5px 5px 5px;
}
.comment_session img{
    margin: 3px 3px 3px;
    border-radius: 3px;
}
#comment_form textarea {
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    font-size: 14px;
    padding: 10px;
    color: #272727;
    width: 90%;
    height: 30%;
    margin: 3px 3px 3px 5px;
}
#comment_form input[type="submit"] {
    position: absolute;
    border-radius: 3px;
    background-color: #d0d0d0;
    font-family: 'Oswald-Regular', sans-serif;
    color: #2b2b2b;
    text-shadow:#9e9e9e 1px 1.1px 0px;
    border: none;
    width: 8%;
    height: 26%;
    margin-top: 3px;
    cursor: pointer;
}
#comment_form input[type="submit"]:active {
    padding: 5px 4px 8px 5px;
    background-color:#eeeeee;
}
.newsfeedPostOptions {
    padding: 0px;
    text-decoration: none;
    color:#777777;
    border: none;
}
.newsfeedPostOptions iframe{
    border: 0px;
    height: 17px;
    width: 120px;
}
.comment_like {
    background-color: transparent;
    border: none;
    font-size: 15px;
    color:#424242;
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
    font-weight: bold;
}
.like_value {
    display: inline;
    font-size: 14px;
    color: #777777;
}
.profile_left {
    top: -20px;
    width: 190px;
    max-width: 240px;
    min-width: 130px;
    height: 100%;
    float: left;
    background-color: #a3a3a3;
    border-right: 10px solid #c5c5c5;
    color: #161616;
    margin-right: 20px;
    text-align: center;
}
.profile_left img {
    min-width: 80px;
    width: 55%;
    margin: 20;
    border: 4px solid #c5c5c5;
    border-radius: 100px;
}
.profile_info {
    display: list-item;
    background-color: #e1e1e1;
    width: 100%;
    padding: 10px 0 10px 0;
}
.profile_info p{
    margin: 10px 35px 10px;
    overflow-wrap: break-word;
    text-align: left;
}
.danger {
    background-color: #bfbfbf;
}
.warning {
    background-color: #bfbfbf;
}
.success {
    background-color: #bfbfbf;
}
.default {
    background-color: #bfbfbf;
}
.danger {
    background-color: #bfbfbf;
}
.info {
    background-color: #bfbfbf;
}
.profile_left input[type="submit"] {
    background-color: #bfbfbf;
    width: 90%;
    height: 30px;
    border-radius: 5px;
    margin: 10px 0 10px 0;
    border: none;
    color: #000;
}
.profile_left input[type="submit"]:hover {
    background-color: #7c7c7c;
}
#accept_button {
    background-color: #a3a3a3;
    width: 20%;
    height: 30px;
    border-radius: 5px;
    margin: 4px;
    border: none;
    color: #000;
}
#accept_button:hover {
background-color: #949494;
}
#ignore_button {
    background-color: #e6e6e6;
    width: 20%;
    height: 30px;
    border-radius: 5px;
    margin: 4px;
    border: none;
    color: #000;
}
#ignore_button:hover {
    background-color: #dfdfdf;
    }
.delete_button {
    height: 22px;
    width: 22px;
    padding:0 0 24 0;
    float: right;
    border-radius: 6px;
    right: -20px;
    position: relative;
    background-color: #d0d0d0;
}
.profile_main_column {
    min-width: 675px;
    float: left;
    width: 70%;
    z-index: -1;
}
.profile_info_buttom {
    margin-top: 10 0 0 10px;
}
#message_textarea {
    margin: 10px;
    width: 81%;
    height: 60px;
    border-radius: 5px;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid #919090;
    font-size: 16px;
    padding: 10px;
    color: #353535;
}
#message_submit {
    width: 10%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: #d0d0d0;
    font-family: 'Oswald-Regular' , sans-serif;
    color: #2b2b2b;
    text-shadow: #9e9e9e 1px 1.1px 0px;
    font-size: 90%;
    position: absolute;
    outline: 0;
    margin: 10;
}
#message_submit:active {
    padding: 5px 4px 8px 5px;
    background-color:#eeeeee;
}
.message {
    padding: 5px 10px;
    border-radius: 40px;
    display: inline-block;
    font-size: 16px;
}
.message#lightgray {
    /* border: 2px solid #dbdbdb; */
    color: #000000;
    background-color: #eeeeee;
    margin-bottom: 5px;
    float: left;
}
.message#darkgray {
    /* border: 2px solid #727272; */
    color: #000000;
    background-color: #939393;
    margin-bottom: 5px;
    float: right;
}
.loaded_messages {
    height: 80%;
    min-height: 300px;
    max-height: 400px;
    overflow: scroll;
    margin-bottom: 10px;
}
.loaded_conversations {
    max-height: 300px;
    overflow: scroll;
}
.user_found_messages {
    border-bottom: 1px solid #aaaaaa;
    padding: 8px 8px 8px 8px;
    font-size: 13px
}
.user_found_messages:hover {
    background-color: #dddddd;
    color: #000000;
}
.user_found_messages img {
    height: 50px;
    float: left;
}
#gray {
    color: #686868;
}
.resultDisplay {
    padding: 5px 5px 0 5px;
    height: 80px;
    border-bottom: 1px solid #D3D3D3;
}
.resultDisplay a {
    float: none;
}
.resultDisplay:hover {
    background-color: #EBEBEB;
    text-decoration: none;
}
.liveSearchProfilePic img {
    height: 50px;
    border-radius: 25px;
    margin: 1px 12px 0 2px;
    float: left;
}
.liveSearchText {
    background-color: transparent;
    color: #222222;
}
.liveSearchText p{
    margin-left: 10px;
    font-size: 12px;
}
.tab-content {
    margin-top: 25px;
}
.dropdown_data_window{
    background-color: #fff;
    border: 1px solid #d3d3d3;
    border-radius: 0 0 8px 8px;
    width: 300px;
    border-top: none;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: scroll;
}
.notification_badge {
    padding: 2px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #333333;
    text-align: center;
    white-space: nowrap;
    background-color: #e8e8e8;
    vertical-align: baseline;
    border-radius: 20px;
    position: absolute;
    left: 6px;
    top: -1px;
}
.nav-tabs {
    border-bottom: 2px solid #c2c2c2;
    padding: 10px;
}
.nav-tabs a {
    padding: 10px 10px;
    color: #000000;
    font-size: 17px;
}
.nav-tabs a:hover {
    color: #727171;
    border-bottom: 5px solid #676767
}
.resultDisplayNotification {
    height: auto;
    color: #000000;
    font-size: 13px;
    border-bottom: 1px solid #aaaaaa;
}
.resultDisplayNotification img {
    height: 50px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
    margin-right:15px;
}
.timestamp_smaller {
    font-size: 85%;
    margin: 0;
}
.search {
    margin: 8px 0 0 15%;
}
.search #search_text_input {
    border: thin solid #898989;
    float: left;
    height: 24px;
    outline:0;
    width:110px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 10px;
}
.button_holder {
    background-color: #f1f1f1;
    border: thin solid #898989;
    cursor: pointer;
    float: left;
    height: 24px;
    width: 35px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.button_holder img {
    margin-top: 1px;
    width: 20px;
    padding: 2px;
    margin-left: 6px;
}